a {
    list-style: none;
}

.mdl-badge {
    color: rgba(0, 0, 0, 0.24);
}
.mdl-badge.material-icons {
    font-size: 32px;
}
.mdl-badge.material-icons:after {
    left: 20px;
}

.mdl-card {
    min-height: 180px;
}

#whatCodersLike,
#coderObstacles {
    text-decoration: none;
    color: #5c2040;
}

.demo-card-wide.mdl-card {
    width: auto;
}
.demo-card-wide > .mdl-card__title {
    color: #5c2040;
    height: auto;
    background: url("../images/codeStoryMap.png") center / cover;
}

/*background-image: url("../images/codeStoryMap.png");*/
.demo-card-wide > .mdl-card__menu {
    color: #fff;
}

.demo-card-image.mdl-card {
    width: auto;
    height: auto;
    background: url('https://pbs.twimg.com/profile_images/519653132523958273/GxQ8pQju.jpeg') center / cover;
}
.demo-card-image > .mdl-card__actions {
    background: rgba(0, 0, 0, 0.2);
}
.demo-card-image__filename {
    color: #fff;
}

.mdl-layout__header {
    background-color: #5c2040;
}

.mapBox {
    /*height: 33%;*/
    height: 450px;
}

#map {
    height: 100%;
    font-family: "Ubuntu", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*color: rgba(0, 0, 0, 0.87);*/
    color: black;
    margin: 0;
    padding: 0;
}

.yin_brand {
    height: 35px;
    width: 35px;
}

.mdl-layout__drawer {
    background-color: white;
}

.mdl-layout-title {
    /*border-bottom: 1px solid #e0e0e0;*/
    box-sizing: border-box;
    display: block;
    /*height: 64px;*/
    padding: 12px 0 11px 24px;
    position: relative;
}

.mdl-layout__header .mdl-layout__drawer-button {
    margin: 7px;
}

.mdl-layout__header .mdl-layout__drawer-button i.material-icons {
    font-size: 130%;

}

.mdl-navigation__link {
    opacity:1;
}

.summary {
    align-content: center;
    /*text-align: center;*/
}